fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg[binary]

pydantic
pydantic-settings

python-dotenv

redis
celery

structlog

python-multipart

orjson

pandas

langchain-text-splitters

google-genai

pytest
pytest-asyncio

pgvector

starlette
anyio

langsmith

httpx2